doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(rel="stylesheet" href="lib/css/bootstrap.min.css" crossorigin="anonymous")
  link(rel="stylesheet" href="lib/css/jquery.md.bootstrap.datetimepicker.style.css" crossorigin="anonymous")
  script(src="lib/js/jquery-3.4.1.slim.min.js")
  script(src="lib/js/datetimepicker.js")
  script(src="lib/js/popper.min.js")
  script(src="lib/js/bootstrap.min.js")
  title #{title}
body(style="direction: rtl")
  nav(class="navbar navbar-expand-md navbar-dark bg-dark")
    a(class="navbar-brand" href="/") رسید اقساط
    ul(class="navbar-nav mr-auto")
      li(class="nav-item active")
        a(class="nav-link" href="/resid") ثبت اقساط
      li(class="nav-item")
        a(class="nav-link" href="/list") لیست اقساط
    div(class="collapse navbar-collapse" id="navbarCollapse")
      if auth
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link" href="/logout") خروج
      else
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link" href="/login") ورود
          li(class="nav-item active")
            a(class="nav-link" href="/register") ثبت نام
      form(class="form-inline mt-2 mt-md-0")
        input(class="form-control mr-sm-2" type="search" placeholder="جستجو" aria-label="Search")
        button(class="btn btn-outline-info my-2 my-sm-0" style="margin-right:10px" type="submit") جستجو
  div(class="mx-auto text-center" style="padding-top: 2rem;")
    h3(style="font-family: Shabnam" calss="text-center") #{headerTitle}
